[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "alacritty/theme"]
	path = alacritty/theme
	url = https://github.com/alacritty/alacritty-theme.git
