#!/usr/bin/env bash

# remove all rules first
bspc rule -r *:*

# 1 > terminal
declare -a terms=(Alacritty)
for i in ${terms[@]}; do
    bspc rule -a $i desktop='^1' follow=on focus=on
done

# 2 > web
declare -a browsers=(Google-chrome)
for i in ${browsers[@]}; do
    bspc rule -a $i desktop='^2' follow=on focus=on
done

# 3 > Spotify
declare -a player=(Spotify spotify)
for i in ${player[@]}; do
   bspc rule -a $i desktop='^3' follow=on focus=on;
done

# 4 > vlc
declare -a video=(vlc)
for i in ${video[@]}; do
   bspc rule -a $i desktop='^4' follow=on focus=on;
done

declare -a files=(Transmission-remote-gtk transmission)
for i in ${files[@]}; do
   bspc rule -a $i desktop='^5' follow=on focus=on;
done

# 8 > weixin
declare -a video=(weixin)
for i in ${video[@]}; do
   bspc rule -a $i desktop='^4' follow=on focus=on;
done
